.header {
    height: 10%;
    padding: 20px 10px;

    overflow: hidden;
    background-color: #000;
}

.header .right {
    float: right;
    text-align: center;
}

.header .right a {
    padding: 12px;
    line-height: 25px;
    border-radius: 4px;

    color: #FA2D2A;
    font-size: 24px;
    text-decoration: none;
}
